<div class="mybox">
    <div class="row">
    	<!-- Card 1 -->
 		<div class="card col s12 m6 l3">
    		<div class="card-image waves-effect waves-block waves-light">
      		<img class="activator" src="images/fruitycake.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= @forest_name %><i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= @forest_name %><i class="material-icons right">close</i></span>
      <span><%= @forest_desc %></span>
      <span><%= @forest_price %></span>
</div>
</div>
<!-- Card 2 -->
 		<div class="card col s12 m6 l3">
    		<div class="card-image waves-effect waves-block waves-light">
      		<img class="activator" src="images/babka.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= @babka_name %><i class="material-icons right">more_vert</i></span>
      	
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= @babka_name %><i class="material-icons right">close</i></span>
      <span><%= @babka_desc %></span> 
      <span><%= @babka_price %></span>
</div>
</div>
<!-- Card 3 -->
 		<div class="card col s12 m6 l3">
    		<div class="card-image waves-effect waves-block waves-light">
      		<img class="activator" src="images/smallcake.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= @cherry_name %><i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= @cherry_name %><i class="material-icons right">close</i></span>
      <span><%= @cherry_desc %></span> 
      <span><%= @cherry_price %></span>
</div>
</div>

</div>
</div>



<!-- Catalogue Request -->
<!--  <div class="col s6 m6 l4" id="form">
      <form action="/contact" method="POST">
      Name:<input type="text" name="client" /> Email:<input type="text" name="email" />
      <button>Submit</button></form>
    </div> -->

