<div class="mybox">
    <div class="row">
    	<!-- Card 1 -->
 		<div class="card col s12 m6 l3">
    	<div class="card-image waves-effect waves-block waves-light">
      	<img class="activator" src="images/chocchip.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= @choc_name %><i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= @choc_name %><i class="material-icons right">close</i></span>
      <p><%= @choc_desc %></p><p><%= @choc_price %></p>
  </div>
</div>
<!-- Card 2 -->
 	<div class="card col s12 m6 l3">
      <div class="card-image waves-effect waves-block waves-light">
      	<img class="activator" src="images/pink.jpg">
      </div>
  <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= @pink_name %><i class="material-icons right">more_vert</i></span>
  </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= @pink_name %><i class="material-icons right">close</i></span>
      <p><%= @pink_desc %></p> <p><%= @pink_price %></p>
  </div>
</div>
<!-- Card 3 -->
 		<div class="card col s12 m6 l3">
    	<div class="card-image waves-effect waves-block waves-light">
      		<img class="activator" src="images/macaron.jpg">
      </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= @mac_name %><i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= @mac_name %><i class="material-icons right">close</i></span>
      <p><%= @mac_desc %></p> <p><%= @mac_price %></p>
    </div>
  </div>
</div>
</div>





