<div class="mybox">
    <div class="row">
      <!-- Card 1 -->
    <div class="card col s12 m6 l3">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/muffins.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= @multi_name %><i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= @multi_name %><i class="material-icons right">close</i></span>
      <span><%= @multi_desc %></span>
      <span><%= @multi_price %></span>
  </div>
</div>
<!-- Card 2 -->
  <div class="card col s12 m6 l3">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/almond.jpg">
      </div>
  <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= @almond_name %><i class="material-icons right">more_vert</i></span>
  </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= @almond_name %><i class="material-icons right">close</i></span>
      <span><%= @almond_desc %></span>
      <span><%= @almond_price %></span>
  </div>
</div>
<!-- Card 3 -->
    <div class="card col s12 m6 l3">
      <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/blueberry.jpg">
      </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= @berry_name %><i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= @berry_name %><i class="material-icons right">close</i></span>
      <span><%= @berry_desc %></span> 
      <span><%= @berry_price %></span>
    </div>
  </div>
</div>
</div>